dependency-reduced-pom.xml
log.log
tags
tags1
tags2
tags.bak
*-SCRATCH.*
.vim/tmp/
.vim/view/* 
.config/google-chrome/ 
bundle
tmp
view
.vim/netrwhist
vifm/Trash
vifm/vifminfo
zsh/.zcompdump
ncmpcpp/error.log

