[submodule "zsh/lib/zsh-autosuggestions"]
	path = zsh/lib/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/lib/zsh-syntax-highlighting"]
	path = zsh/lib/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "tmux"]
	path = tmux
	url = https://github.com/fab-du/tmux
[submodule "awesome/awesome/lain"]
	path = awesome/awesome/lain
	url = https://github.com/copycat-killer/lain
